body {
    background-color: whitesmoke;
  }
  
  h1 {
    color: darkolivegreen;
    margin-left: 20px;
  }

  p1 {
    color: darkolivegreen;
    margin-left: 20px;
  }

  p2{
    color: darkolivegreen;
    margin-left: 50px;
  }